body {
  font-family: Arial;
  padding: 20px;
}

#products {
  display: flex;
  gap: 20px;
}

.product {
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}
input, textarea {
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
}

#orderMsg {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
